<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sports-arena</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&family=Oxygen&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="home.css" type="text/css" />
  </head>
  <body>
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Sports
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Football</a></li>
                <li><a class="dropdown-item" href="#">Tennis</a></li>
                <li><a class="dropdown-item" href="#">Cricket</a></li>
                <li><a class="dropdown-item" href="#">Hockey</a></li>
                <li><a class="dropdown-item" href="#">Baseball</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <form class="d-flex">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
          <button class="btn cart"><i class="fas fa-shopping-bag"></i></button>
        </form>
      </div>
    </nav>
    <!-- navbar end -->
    <!-- banner start -->
    <div class="banner">
      <h1 class="banner-heading">Sports-Arena</h1>
    </div>
    <!-- banner end -->
    <!-- products start -->
    <div class="products-container">
      <% for(let i=0; i<products.length; i++){%>
      <div class="product">
        <div class="product-image">
          <img
            src="<%=products[i].productImage[0].url%>"
            alt=""
          />
        </div>
        <div class="product-details">
          <div class="name"><%=products[i].name%></div>
          <div class="price">rs100</div>
        </div>
      </div>
      <%}%>
    </div>
    <!-- products end -->
    <script
      src="https://kit.fontawesome.com/1f15bc560e.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
