<%- include("header") -%>
    <!-- navbar end
    <!-- banner start -->
    <div class="banner">
      <h1 class="banner-heading">Sports-Arena</h1>
    </div>
    <!-- banner end -->
    <!-- products start -->
    <div class="products-container">
      <% for(let i=0; i<products.length; i++){%>
      <div class="product">
        <div class="product-image">
          <img
            src="<%=products[i].productImage[0].url%>"
            alt=""
          />
        </div>
        <div class="product-details">
          <div class="name"><%=products[i].name%></div>
          <div class="price">rs100</div>
        </div>
      </div>
      <%}%>
    </div> -->
    <!-- products end -->
    <script
      src="https://kit.fontawesome.com/1f15bc560e.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
