<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sports arena</title>
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&family=Oxygen&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="heading"><h1>Sports Arena</h1></div>
    <div class="login-page">
      <div class="form-container">
        <div class="form-heading">
          <p>Login</p>
        </div>
        <div class="details">
          <form action="/api/login" method="POST">
            <div class="input-container">
              <label for="email">Email</label><br />
              <input
                type="text"
                name="email"
                id="email"
                placeholder="Enter your Email"
              />
            </div>
            <div class="input-container">
              <label for="password">Password</label><br />
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Enter password"
              />
            </div>
            <div>
              <button type="submit" class="btn">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src= "/javascript/login.js"></script>
  </body>
</html>
