    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Sports
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Football</a></li>
                  <li><a class="dropdown-item" href="#">Tennis</a></li>
                  <li><a class="dropdown-item" href="#">Cricket</a></li>
                  <li><a class="dropdown-item" href="#">Hockey</a></li>
                  <li><a class="dropdown-item" href="#">Baseball</a></li>
                </ul>
              </li>
            </ul>
            <a class="navbar-brand mx-auto" href="#">Sports-Arena</a>
          </div>
          <form class="d-flex">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <p
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                   <%= userName %>
                </p>
                   
                    <% if( userStatus == true){%>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="">Account</a></li>
                        <li><a href="/login" class="dropdown-item" id="logout">logout</a></li>
                      </ul>
                    <%}%>
                </li>
              </ul>
            </div>
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">Search</button>
            <button class="btn cart"><i class="fas fa-shopping-bag"></i></button>
          </form>
        </div>
      </nav>
      <!-- navbar-end -->