<%- include('header') -%>
<link rel="stylesheet" href="/css/register.css" type="text/css" />
  </head>
  <body>
    <%- include('navbar') -%>
<link rel="stylesheet" href="/css/login.css" type="text">
    <div class="signup-page">
      <div class="form-container">
        <div class="form-heading">
          <p>SignUp</p>
        </div>
        <div class="details">
          <form
            action="/api/register"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="input-container">
              <label for="first-name">First Name</label><br />
              <input
                type="text"
                name="firstName"
                id="first-name"
                placeholder="  Enter your first name"
              />
            </div>
            <div class="input-container">
              <label for="last-name">Last Name</label><br />
              <input
                type="text"
                name="lastName"
                id="last-name"
                placeholder="  Enter your last name"
              />
            </div>
            <div class="input-container">
              <label for="email">Email</label><br />
              <input
                type="text"
                name="email"
                id="email"
                placeholder="  Enter your Email"
              />
            </div>
            <div class="input-container">
              <label for="password">Password</label><br />
              <input
                type="password"
                name="password"
                id="password"
                placeholder="  Enter password"
              />
            </div>
            <div>
              <button type="submit" class="btns">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="/javascript/register.js"></script>
    <%- include('footer') -%>