* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: "Oxygen", sans-serif;
  }
  .banner{
      display: flex;
      align-items: center;
      justify-content: center;
      background: url("https://thumbs.dreamstime.com/b/sports-equipment-3181239.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 300px;
      overflow: hidden;
  }
  .banner-heading{
      font-size: 6rem;
      font-weight: bolder;
      color: white;
  }
  .products-container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 5px 5px 5px 5px;
  }
  .product{
      height: 200px;
      width: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: solid 2px black;
      margin: 5px 5px 5px 5px;
  }
  img{
      height: 150px;
      width: 280px;
  }
  .product-details{
      width: 170px;
      display: flex;
      justify-content: space-between;
  }